# Ignore everything
*

# Except txt, but not changelog
!*.txt
changelog.txt

!*.md
!*.sh
!*.lmp
!*.zs
!.gitignore
!textures*
!language.enu
*~

!sprites
sprites/*
!sprites/*.png
!sprites/*.lmp

!zscript
zscript/*
!zscript/*.zs
